.Onepiece_MAIN{
    
}

h1{
    display: block;
    color: red;
    background-color: black;
    text-align: center;
}
.Straw_Hat_Pirates{
    text-align: center;

}
.Beast_Pirates{
    text-align: center;
}
.Big_MOM_Pirates{
    text-align: center;
}
.BlackBeard_Pirates{
    text-align: center;
}
.RedHaired_Pirates{
    text-align: center;
}
.Whitebeard_Pirates{
    text-align: center;
}