.Onepiece_MAIN{
    text-align: center;
    color: red;
    background-color: black;
}
.Straw_Hat_Pirates{

}
.Beast_Pirates{

}
.Big_MOM_Pirates{

}
.BlackBeard_Pirates{
    
}
.RedHaired_Pirates{

}
.Whitebeard_Pirates{
    
}