.Header{
    text-align: center;
    color: white;
    background-color: black;
    display: block;
}
body{
    background-image: url("Cover\ Photo\ Stern\ Ritter.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}