body{
    background-image: url("Cover\ Photo\ Gotei\ 13.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}
h2{
    background-color: black;
    color: white;
    text-align: center;
    display: inline-block;
}
.Header{
    text-align: center;
    color-interpolation-filters: auto;
    color: white;
    background-color: black;
}
.First_division_captain{
    text-align: center;
}  
.Second_division_captain{
    text-align: center;
}
.Third_division_captain{
    text-align: center;
}
.Fourth_division_captain{
    text-align: ;
}
.Fifth_division_captain{

}
.Sixth_division_captain{

}
.Seventh_division_captain{

}
.Eight_division_captain{

}
.Ninth_division_captain{

}
.Tenth_division_captain{

}
.Eleventh_division_captain{

}
.Twelfth_division_captain{

}
.Thirteenth_division_captain{
    
}