body{
    background-image: url("Cover\ Photo\ Gotei\ 13.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}
h2{
    background-color: black;
    color: white;
    text-align: center;
    display: inline-block;
}
h3{
    display: inline-block;
    text-align: center;
}
.Header{
    text-align: center;
    color-interpolation-filters: auto;
    color: white;
    background-color: black;
}
.First_division_captain{
    text-align: center;
    background-color: #301934;
    color: white;
}  
.Second_division_captain{
    text-align: center;
    background-color: darkorange;
    color: white;
}
.Third_division_captain{
    text-align: center;
    background-color: springgreen;
    color: white;
}
.Fourth_division_captain{
    text-align: center;
    background-color: pink;
    color: white;
}
.Fifth_division_captain{
    text-align: center;
    background-color: paleturquoise;
    color: white;
}
.Sixth_division_captain{
    text-align: center;
    background-color: blue;
    color: white;
}
.Seventh_division_captain{
    text-align: center;
    background-color: tan;
    color: white;
}
.Eight_division_captain{
    text-align: center;
    background-color:  #b3446c;
    color: white;
}   
.Ninth_division_captain{
    text-align: center;
    background-color: #CD5700;
    color: white;
}
.Tenth_division_captain{
    text-align: center;
    background-color: darkgreen;
    color: white;
}
.Eleventh_division_captain{
    text-align: center;
    background-color: ;
    color: white;
}
.Twelfth_division_captain{
    text-align: center;
    color: white;
}
.Thirteenth_division_captain{
    text-align: center;
    color: white;
}