body{
    background-image: url("Cover\ Photo\ Gotei\ 13.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}
h2{
    background-color: black;
    color: white;
    text-align: center;
    display: inline-block;
}
h3{
    display: inline-block;
    text-align: center;
}
.Header{
    text-align: center;
    color-interpolation-filters: auto;
    color: white;
    background-color: black;
}
.First_division_captain{
    text-align: center;
    background-color: purple;
    color: white;
}  
.Second_division_captain{
    text-align: center;
    color: white;
}
.Third_division_captain{
    text-align: center;
    color: white;
}
.Fourth_division_captain{
    text-align: center;
    color: white;
}
.Fifth_division_captain{
    text-align: center;
    color: white;
}
.Sixth_division_captain{
    text-align: center;
    color: white;
}
.Seventh_division_captain{
    text-align: center;
    color: white;
}
.Eight_division_captain{
    text-align: center;
    color: white;
}   
.Ninth_division_captain{
    text-align: center;
    color: white;
}
.Tenth_division_captain{
    text-align: center;
}
.Eleventh_division_captain{
    text-align: center;
}
.Twelfth_division_captain{
    text-align: center;
}
.Thirteenth_division_captain{
    text-align: center;
}