.Header {
    background-color: black;
    color: white;
    text-align: center;
}

.Center {
    text-align: center;
}

.Gang-Container {
    border: 10px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

#color{
    color: white;
    background-color: black;
}
.Toman {
    background-color: black;
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding: 1rem 1rem;
    border: 5px solid yellow;
    border-radius: 50px 50px;
}

.Black_Dragon {
    background-color: black;
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding: 1rem 1rem;
    border: 5px solid red;
    border-radius: 50px 50px;
}

.Valhalla {
    background-color: black;
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding: 1rem 1rem;
    border: 5px solid blue;
    border-radius: 50px 50px;
}

.Moebius {
    background-color: black;
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding: 1rem 1rem;
    border: 5px solid purple;
    border-radius: 50px 50px;
}