body{
    background-image: url("./Images/TR.avif");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.Header {
    background-color: black;
    color: white;
    text-align: center;
    max-width: 100%;
    display: inline-block;
    top: ;
}

.Center {
    text-align: center;
}

.Gang-Container {
    border: 10px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    box-shadow: 5px 5px red;
    
}

#color {
    color: white;
}

.Toman {
    background-color: black;
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding: 1rem 1rem;
    border: 5px solid yellow;
    border-radius: 0 50% 0 50%;
    box-shadow: 15px 15px inset red;
}

.Black_Dragon {
    background-color: black;
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding: 1rem 1rem;
    border: 5px solid red;
    border-radius: 0 50% 0 50%;
    box-shadow: 15px 15px inset purple;
}

.Valhalla {
    background-color: black;
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding: 1rem 1rem;
    border: 5px solid blue;
    border-radius: 0 50% 0 50%;
    box-shadow: 15px 15px inset white;
}

.Moebius {
    background-color: black;
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding: 1rem 1rem;
    border: 5px solid purple;
    border-radius: 0 50% 0 50%;
    box-shadow: 15px 15px inset green;
}