.Header{
    background-color: black;
    color: white;
    text-align: center;
}
.Toman{
    text-align: center;
    display: inline;
}
.Black_Dragon{
    text-align: center;
    display: inline-block;
}