body{
    background-image: url("../Images/Cover\ Photo\ Gotei\ 13.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

.Heading{
    background-color: white;
    color: black;
    text-align: center;
}

.Main_page{
    background-color: white;
    color: black;
}

.Information{
    text-align: center;
}

.Title_captain{
    background-color: white;
    color: black;
    text-align: center;
}