header{
    text-align: center;
}
h1{
    text-align: center;
    background-color: black;
    color: white;
}
.Captain_13{
    padding: 40px;
    color: white;
    background-color: black;
}
.Uppercase{
    
}