body{
    background-image: url("../Images/Cover\ Photo\ Gotei\ 13.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

.Heading{
    background-color: white;
    color: black;
    text-align: center;
}

.Main_page{
    background-color: white;
    color: black;
}

.Information{
    background-color: white;
    color: black;
    text-align: center;
}

.Title_captain{
    background-color: white;
    color: black;
    text-align: center;
}
.Image{
    text-align: center;
}
.Details{
    text-align: center;
    display: block;
}
.Title{
    background-color: black;
    color: white;
    text-align: center;
}
.Paragraph{
    background-color: white;
    color: black;
    text-align: center;
}