body{
    background-image: url("Cover\ Photo\ Gotei\ 13.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.Title{
    background-color: white;
    color: black;
    text-align: center;
}